.advantages {
  background-color: #f8f9fc;
}

.advantages__title {
  margin-bottom: 50px;
  text-align: center;
}

.advantages__list {
  display: grid;
  grid-template-columns: 29.3% 20.7% 29.3%;
  justify-content: center;
  gap: 31px 59px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1365 {
    grid-template-columns: 1fr 1fr;
    gap: 40px 50px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.advantages__item {
  display: flex;
  gap: 30px;
  max-height: 92px;

  @include vp-1365 {
    gap: 14px;
  }

  @include vp-767 {
    gap: 5px;
    max-height: none;
    flex-direction: column;
    text-align: center;
  }

  &--border {
    padding-bottom: 174px;
    border-bottom: 2px solid hsla(343, 91%, 43%, 0.2);

    @include vp-1365 {
      padding: 0;
      border: none;
    }
  }

  &--main {
    grid-column: 2/3;
    grid-row: 1/3;
    gap: 32px;
    max-height: none;
    flex-direction: column;
    padding: 73px 34px 82px;
    text-align: center;
    background-color: #1c3374;
    color: #ffffff;

    @include vp-1365 {
      grid-column: 1/3;
      grid-row: 2/3;
      max-width: 400px;
      margin: 0 auto;
      padding: 35px;
      gap: 22px;
    }

    @include vp-767 {
      width: 100vw;
      max-width: 100vw;
      min-width: 320px;
      margin-left: -15px;
      padding: 30px 0 20px;
    }
  }
}

.advantages__item-name {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 8px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  @include vp-767 {
    font-size: 18px;
  }
}

.advantages__item-additional {
  margin: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }

  &--main {
    @include vp-1365 {
      margin: 0 60px;
    }
  }
}

.advantages__item-value {
  margin: 0;
  order: -1;
}

.advantages__item-unit {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #2e35ac;

  &--main {
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;

    @include vp-1365 {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.advantages__item-quantity {
  background: linear-gradient(142deg, #d10a42 0, #0041ca 88.2%);
  color: transparent;
  background-clip: text;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  margin: 0;

  &--main {
    padding-bottom: 12px;
    color: #ffffff;

    @include vp-1365 {
      padding-bottom: 25px;
    }

    @include vp-767 {
      padding-bottom: 4px;
    }
  }
}
