.faq {
  background-color: #f8f9fc;
}

.faq__title {
  padding-bottom: 51px;

  @include vp-1365 {
    text-align: center;
  }
  @include vp-767 {
    padding-bottom: 30px;
  }
}

.faq__box {
  display: grid;
  grid-template-columns: 22.4% auto;
  gap: 40px;

  @include vp-1365 {
    grid-template-columns: auto;
  }

  @include vp-767 {
    gap: 30px;
  }
}

.faq__box-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-1365 {
    display: grid;
    grid-template-columns: repeat(4, 23.9%);
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

.faq__control {
  font-size: 18px;
  line-height: 18px;
  padding: 18px 48px;
  justify-content: center;
  border: 1px solid rgba(16, 38, 84, 0.2);
  background-color: $color-default-white;

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
    padding: 14px 33px;
  }
}

.faq__item-button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #1c3374;
  border-radius: 50%;
  align-self: center;
  background-color: $color-default-white;

  &:hover:not(.disabled) {
    background-color: #1c3374;

    &::before {
      background-color: $color-default-white;
    }

    &::after {
      background-color: $color-default-white;
    }
  }
}

.faq__item-button::before {
  position: absolute;
  width: 20px;
  height: 1px;
  content: "";
  background-color: #1c3374;
  left: 9px;
  top: 18px;
  z-index: 2;
}

.faq__item-button::after {
  position: absolute;
  width: 1px;
  height: 20px;
  content: "";
  background-color: #1c3374;
  top: 9px;
  left: 18px;
  z-index: 2;
}

.faq__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(28, 51, 116, 0.2);
}

.faq__item {
  display: grid;
  grid-template-columns: auto 40px;
  row-gap: 4px;
  flex-wrap: wrap;
  color: #102654;
  padding-top: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);

  @include vp-1365 {
    padding-top: 22px;
  }

  @include vp-767 {
    padding-top: 22px;
    padding-bottom: 20px;
    gap: 20px;
  }
}

.faq__item-title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  align-self: center;

  @include vp-1365 {
    font-size: 22px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.faq__item-description {
  margin: 0;
  clip: rect(0 0 0 0);
  height: 0;
  max-width: 660px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;

  @include vp-1365 {
    max-width: 559px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
  }
}

.faq__item-toggle {
  display: none;

  &:disabled + .faq__item-button {
    opacity: 0.5;
    pointer-events: none;
  }
}

.faq__item-toggle:checked ~ .faq__item-description {
  position: static;
  overflow: visible;
  clip: auto;
  height: auto;
  animation: fadeIn ease-in 0.5s;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.faq__item-toggle:checked ~ .faq__item-button::after {
  display: none;
}

.faq__item-toggle:checked ~ .faq__item-button {
  background-color: #1c3374;
}


.faq__item-toggle:checked ~ .faq__item-button::before {
  background-color: $color-default-white;
}
