.game__wrapper {
  display: grid;
  grid-template-columns: 43.1% 57%;
  justify-content: center;
  padding-bottom: 0;

  @include vp-767 {
    grid-template-columns: auto;
  }
}

.game__info {
  display: flex;
  flex-direction: column;
  color: $color-default-white;
  padding: 77px;
  background-color: $color-torch-red;

  @include vp-1365 {
    max-height: 324px;
    padding: 40px 45px 45px;
  }

  @include vp-767 {
    padding: 40px 40px 35px;
  }
}

.game__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 68px;
  row-gap: 20px;

  @include vp-1365 {
    column-gap: 40px;
    row-gap: 10px;
  }

  @include vp-767 {
    column-gap: 50px;
  }
}

.game__title {
  font-size: 82px;
  line-height: 76px;
  letter-spacing: 2.46px;
  text-transform: uppercase;
  grid-row: 1/3;

  @include vp-1365 {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
  }
}

.game__date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin: 0;

  @include vp-1365 {
    gap: 0;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px
  }
}

.game__date-name {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  grid-column: 1/3;

  @include vp-767 {
    font-size: 16px;
    line-height: 20px
  }
}

.game__date-value {
  display: flex;
  gap: 6px;
  margin: 0;
  padding-top: 4px;
  border-top: 1px solid $color-default-white;

  @include vp-1365 {
    gap: 3px;
  }
}

.game__date-number {
  margin: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
  }
}

.game__date-year {
  display: grid;
  align-content: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @include vp-1365 {
    font-size: 10px;
    line-height: 100%;
    gap: 0;
  }
}

.game__description {
  font-size: 18px;
  margin: 23px 0 55px;

  @include vp-1365 {
    margin: 6px 0 21px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px
  }
}

.game__picture {
  @include vp-767 {
    justify-self: center;
  }
}
