.jury__wrapper {
  position: relative;
  max-width: 1366px;
}

.jury__card {
  position: relative;
  max-width: 260px;

  @include hover-focus {
    .jury__card-title {
      display: none;
    }

    .jury__card-info {
      display: block;
    }

    &::before {
      display: block;
    }
  }
}

.jury__card::before {
  display: none;
  position: absolute;
  content: "";
  background-color: rgba(16, 38, 84, 0.89);
  width: 100%;
  height: 100%;
}

.jury__title {
  margin-bottom: 45px;

  @include vp-1365 {
    text-align: center;
  }
}

.jury__list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jury__card-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  color: $color-default-white;
  margin: 0;
  left: 55px;
  bottom: 26px;
}

.jury__button {
  background-color: inherit;
  border: none;
  position: absolute;
  left: 47px;
  top: 57%;
  width: 56px;
  height: 56px;
  stroke: #102654;

  @include hover-focus {
    border-radius: 56px;
    border: 1px solid var(--Dark, #102654);
  }

  @include active {
    border: 1px solid var(--Dark, #102654);
    background: var(--Dark, #102654);
    stroke: #ffffff;
  }
}

.jury__next {
  left: unset;
  right: 40px;
}
