.jury__wrapper {
  position: relative;
  max-width: 1366px;

  @include vp-767 {
    width: 226px;
  }
}

.jury__container {
  position: relative;
  width: 1366px;
  margin: 0 auto;

  @include vp-1365 {
    width: 642px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.jury__card {
  position: relative;
  max-width: 260px;

  @include hover-focus {
    .jury__card-title {
      display: none;
    }

    .jury__card-info {
      display: block;
    }

    &::before {
      display: block;
    }
  }
}

.jury__card::before {
  display: none;
  position: absolute;
  content: "";
  background-color: rgba(16, 38, 84, 0.89);
  width: 100%;
  height: 100%;
}

.jury__title {
  margin-bottom: 45px;

  @include vp-1365 {
    margin-bottom: 37px;
    text-align: center;
  }
}

.jury__list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jury__card-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  color: $color-default-white;
  margin: 0;
  left: 55px;
  bottom: 26px;
}

.jury__button {
  background-color: inherit;
  border: none;
  position: absolute;
  left: -20px;
  top: 43%;
  width: 56px;
  height: 56px;
  stroke: #102654;
  color: #102654;

  @include hover-focus {
    border-radius: 56px;
    border: 1px solid var(--Dark, #102654);
  }

  @include active {
    border: 1px solid var(--Dark, #102654);
    background: var(--Dark, #102654);
    stroke: #ffffff;
  }
}

.jury__prev.swiper-button-prev {
  left: 42px;
  top: 367px;
  color: #102654;
  width: 16px;
  height: 32px;

  @include vp-1365 {
    left: -36px;
    top: 58%;
  }
}


.jury__next.swiper-button-next {
  top: 367px;
  right: 40px;
  color: #102654;

  @include vp-1365 {
    right: -36px;
    top: 58%;
  }
}


.jury__picture {
  @include vp-1365 {
    width: 268px;
    height: 296px;
  }
}
