.subscription {
  position: relative;
  background-color: #f8f9fc;
}

.subscription__title {
  margin: 0 auto;
  margin-top: 6px;
  text-align: center;

  @include vp-1365 {
    margin-top: 0;
  }

  @include vp-767 {
    margin-top: 3px;
    grid-column: -1/1;
  }
}

.subscription__box-list {
  position: relative;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 34px 0 36px;
  justify-content: center;

  @include vp-1365 {
    font-size: 18px;
    line-height: 18px;
    padding: 37px 0 45px;
    gap: 54px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
    gap: 45px;
    padding: 23px 0 38px;
  }
}

.subscription__box-list::after {
  position: absolute;
  content: "";
  width: 349px;
  height: 2px;
  background-color: rgba(120, 120, 120, 0.2);
  bottom: 36px;

  @include vp-1365 {
    width: 332px;
    bottom: 44px;
  }

  @include vp-767 {
    width: 290px;
    bottom: 35px;
  }
}

.subscription__box-item {
  color: rgba(16, 38, 84, 0.5);

  &--active {
    color: #102654;
    padding-bottom: 12px;
    border-bottom: 1px solid #d10a42;
  }
}

.subscription__price-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  padding: 0;
  justify-content: center;

  @include vp-1365 {
    gap: 42px;
    flex-direction: column;
    align-content: center;
  }

  @include vp-767 {
    gap: 32px;
  }
}

.subscription__pancakes {
  position: absolute;
  right: 0;
  bottom: -150px;

  @include vp-1365 {
    bottom: -147px;
    right: 0;
  }

  @include vp-767 {
    display: none;
  }
}
